
* {
	padding:0;
	margin:0;
}
body {
	font-size:14px;
	line-height:24px;
	color:#8c9099;
	font-weight: 400;
	position:relative;
	background:#fff;
	width:100%;
	height:100%;
	overflow: scroll;
	overflow-x: hidden;
}
a {
	text-decoration:none;
	outline:none;
}
a:hover, a:focus {
	color:#fff !important;
	text-decoration:underline;
}
img {
	max-width:100%;
}



/*----------------------------------------------------
	 2. Document Setup
------------------------------------------------------*/
.wrapper{
	width:100%;
}
.sec_top_gp {
	padding-top:68px;
}
.noMar{
	margin:0 !important;
}
.noPadd{
	padding:0px !important;
}
.relative {
	position:relative;
}
.section_gap {
	padding:79px 0 65px;
}
.uppercase {
	text-transform:uppercase;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #acadbf;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #acadbf;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #acadbf;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #acadbf;
}

p{
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	line-height:24px;
	font-weight:400;
	padding-bottom:22px;
	margin:0px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color:#000;
	font-family: 'Open Sans', sans-serif;
}
h1{
	font-size:73px;
	line-height:normal;
	font-weight:700;
	margin:0px 0 15px;
}
h1 span {
	font-size:33px;
	line-height:27px;
}
h2{
	font-size:43px;
	color:#273342;
	line-height:57px;
	font-weight:700;
	text-transform:none;
	letter-spacing:-1px;
	margin:0px 0 15px;
}
h3{
	font-family: 'Open Sans', sans-serif;
	font-size:17px;
	line-height:normal;
	font-weight:700;
	margin:0px 0 22px;
}
h4{
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	line-height:24px;
	font-weight:600;
	margin:0px 0 15px;
}
h5{
	font-family: 'Open Sans', sans-serif;
	font-size:14px;
	line-height:24px;
	font-weight:400;
	margin:0px 0 15px;
}

h4.subHeading{
	font-weight:600;
	font-size:18px;
	padding-bottom:22px;
}

.heading{
	text-align:left;
	padding-bottom:60px;
}
.heading .container{
	padding-top:0px !important;
	padding-bottom:0px !important;
	padding-right: 15px;
	padding-left: 15px;
}
.heading h1 {
	color:#273342;
	display:block;
	line-height:63px;
	text-transform:uppercase;
	padding:22px;
	border-left:8px solid;
}
.heading h1 span {
	display:block;
}
.heading p{
	font-size:16px;
	font-weight:400;
	color:#8c9099;
	line-height:24px;
}
.topmar{
	margin-top:20px;
}

/*----------------------------------------------------
	3. Header Part
------------------------------------------------------*/

header{
	position:relative;
}

/*--------------------------------------
	3.2.1 (v1) Header Slideshow
----------------------------------------*/

.header_v1 .banner{
	overflow:hidden ;
	margin:0 auto !important;
	background:#CACACA;
}
.header_v1 .hedaer-inner {
	height:100%;
	position:relative;
}
.header_v1 .bannerText{
	width:580px;
	height:250px;
	border-left:3px solid #fff;
	position:absolute ;
	left:0;
	top:50%;
	text-align:left;
	margin-top:-109px;
	padding:30px 0 0 30px;
	z-index:999999 ;
} 
.header_v1 .bannerText h3{
	color:#fefefe;
	font-size:30px;
	line-height:50px;
	font-weight:700;
	text-transform:none;
	letter-spacing:-1px;
	margin-bottom:20px;
}

.header_v1 .bannerText img{
	position: relative;
	width:40px !important;
	height:40px !important;
}
.header_v1 .bannerText p{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	line-height:21px;
	font-weight:400;
	color:#fefefe;
	text-transform:none;
	padding-bottom:25px;
}
.header_v1 .bannerText p a {
	font-size:14px;
	line-height:12px;
	font-weight:700;
	text-decoration:none;
	text-transform:uppercase;
	padding:0;
	display:inline-block;
	margin:0;
}
.header_v1 .bannerText p a i {
	font-size:17px;
	font-weight:700;
}
.header_v1 .bannerText p a:hover{
	color:#fff;
}




/*----------------------------------------------------
	3.4 form
------------------------------------------------------*/
.form-header {
	position:absolute;
	left:0;
	right:0;
	top:130px;
	margin:0 auto;
}
.form-container {
	width:472px;
	height:auto;
	padding:20px;
	position:absolute;
	right:0;
	top:0;
	z-index:999;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.form-container h2 {
	font-size:24px;
	line-height:30px;
	color:#2f4e71;
	text-align:center;
	font-weight:400;
	letter-spacing:-2px;
	text-transform:uppercase;
	padding:0;
	margin:0 0 10px;
}
.form-container h2 span {
	font-size:17px;
	text-transform:none;
	line-height:40px;
	color:#333850;
	letter-spacing:-1px;
	display:block;
}
.form-row {
	margin-bottom:10px;
	font-size:0;
	letter-spacing:0;
}
input.normal,
select.normal,
textarea.normal{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	line-height:normal;
	color:#acadbf;
	font-weight:400;
	padding:10px;
	width:100%;
	height:auto;
	background:#fff;
	display:inline-block;
	border:none;
	border-bottom:3px solid rgba(0,0,0,.2);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}

input.normal.small {
	width:48%;
}
input.normal.last {
	float:right;
}
textarea.medium {
	height:100px;
	overflow:auto;
	resize:none;
}
input.button{
	font-family: 'Open Sans', sans-serif;
	font-size:15px;
	line-height:52px;
	font-weight:700;
	text-align:center;
	color:#fff;
	text-transform:uppercase;
	padding:0;
	width:100%;
	height:53px;
	background:#2f4e71;
	border:none;
	border-bottom:3px solid #243c58;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
h3.succes_message {
	color:#3C3;
}

/* banner overlay */
.patternOverlay {
	background:#1c416a;
	position:relative;
	top:0;
	right:0;
	width:100%;
	height:100%;
	z-index:9;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	opacity: 0.8;
}

/* Preloader */
#preloader {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#fff; /* change if the mask should have another color then white */
	z-index:9999999999; /* makes sure it stays on top */
}

#status {
	width:200px;
	height:200px;
	color:#fff;
	position:absolute;
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	background-image:url(../images/preloader.html); /* path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px; /* is width and height divided by two */
}
#status p{text-align:center;}


/* backgrounds */
.white_section {	
	background-color:#fff;
}
.grey_section {	
	background-color:#fafafb;
}
.yellow_section {
}
.blue_section {
	background-color:#2f4e71;
}


/*----------------------------------------------------
	 14. Responsive style
------------------------------------------------------*/


@media screen and (min-width: 1900px) {
.form-header {
	position:absolute;
	left:250px;
	right:0;
	top:280px;
	margin:0 auto;
}
}


@media screen and (min-width: 960px) and (max-width: 1280px) {
	
	.bannerText {
		width:50%;
	}
	.form-container {
		padding:20px;
	}
	.form-container h2 {
		font-size:32px;
	}
	.form-container h2 span {
		font-size:15px;
	}
	input.normal, select.normal, textarea.normal {
		font-size:14px;
		padding:10px 15px;
	}
	
}

@media screen and  (max-width: 810px) {
	
	h1 {
		font-size:45px;
	}
	h1 span {
		font-size:26px;
		line-height:22px;
	}
	h2{
		font-size:30px;
		line-height:normal;
	}
	
	.form-header {
		position:static;
	}
	.form-container {
		position:static;
		width:100%;
		margin:15px 0;
		padding:15px;
	}
	.form-container h2 {
		font-size:28px;
	}
	input.normal.small {
		width:100%;
	}
	input.normal.small:first-child {
		margin-bottom:17px;
	}
		
}



@media screen and (max-width: 680px) {

	
	.header_v5 .hedaer-inner {
		margin:0;
		position:static;
	}
	.header_v1 .bannerText,
	.header_v2 .bannerText,
	.header_v3 .bannerText,
	.header_v4 .bannerText{
		height: auto;
		width:auto;
		left: 20px;
		right: 20px;
		padding:15px 0 0 15px;
	}
	.header_v5 .bannerText {
		padding:0;
	}
	.header_v1 .bannerText h3,
	.header_v2 .bannerText h3,
	.header_v3 .bannerText h3,
	.header_v4 .bannerText h3{
		font-size:32px;
		font-weight:400;
	}
	.watch_text {
		padding-left:15px;
		padding-top:20px;
	}
	.tab_text {
		padding-left:15px;
	}

}


@media screen and (max-width: 568px) {	
	.header_v1 .banner{
	overflow:hidden ;
	margin:0% auto !important;
	background:#fff;height:100vh;
}
	.header_v5 .hedaer-inner {
		margin:0;background:none !important; 
		position:static;
	}
	.header_v1 .bannerText,
	.header_v2 .bannerText,
	.header_v3 .bannerText,
	.header_v4 .bannerText{
		height: auto;
		width:auto;
		left: 20px;
		right: 20px;
		padding:15px 0 0 15px;
	}
	.header_v5 .bannerText {
		padding:0;
	}
	.header_v1 .bannerText h3,
	.header_v2 .bannerText h3,
	.header_v3 .bannerText h3,
	.header_v4 .bannerText h3{
		font-size:32px;
		font-weight:400;
	}
	.numbers li {
		width:100%;
	}

.slide img
{
	width:100%;
	height:100vh !important;padding:0px;margin:0px;
}

.form-header {
	position:relative;
	left:0;
	right:0;
	top:20px;
	margin:0 auto;
}
}

@media screen and (max-width: 435px) {	
	.header_v1 .banner{
	overflow:hidden ;
	margin:0 auto !important;
	background:#fff;height:40vh;
}
	.header_v5 .hedaer-inner {
		margin:0;background:none !important; 
		position:static;
	}
	.header_v1 .bannerText,
	.header_v2 .bannerText,
	.header_v3 .bannerText,
	.header_v4 .bannerText{
		height: auto;
		width:auto;
		left: 20px;
		right: 20px;
		padding:15px 0 0 15px;
	}
	.header_v5 .bannerText {
		padding:0;
	}
	.header_v1 .bannerText h3,
	.header_v2 .bannerText h3,
	.header_v3 .bannerText h3,
	.header_v4 .bannerText h3{
		font-size:32px;
		font-weight:400;
	}
	.numbers li {
		width:100%;
	}

.slide img
{
	width:75vh !important;
	height:40vh !important;padding:0px;margin:0px;
}

.form-header {
	position:relative;
	left:0;
	right:0;
	top:-100px;
	margin:0 auto;
}


}







